.bagianatas{
    gap: 50px;
}
.bagianatas.profile{
    text-align: center;
}

/* Header */
header{
    display: grid;
}

.row{
    margin-left: 350px;
}
.atas{
    grid-area: hero;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.atas >*{
    display: none;

}

body{
    margin-left: auto;
    padding-left: 260px;
}


