.bagianatas{
    gap: 50px;
}
.bagianatas.profile{
    text-align: center;
}

.kangedit{
    text-decoration: none;
    color:black;
    
}

/* Header */


.row{
    margin-left: 350px;
}
.atas{
    grid-area: hero;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.atas >*{
    display: none;

}




