/* navigation */
body {
  font-family: "Lato", sans-serif;
  background-color: #fafafa;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-right: 1px solid;
  border-color: #dfdfdf;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.logo {
    width: 200px;
    height: auto;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.avatar {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  border-radius: 50%;
}

.row {
  margin-left: 350px;
}

.card {
  border-color: #dfdfdf;
  margin-top: 25px;
  margin-bottom: 25px;
}

#home-right {
  margin-top: 100px;
}

.foto_comment {
  width: 100px;
  height: 100px;
}

.hrefblack {
  text-decoration: none;
  color: black;
}
.hrefblue {
  text-decoration: none;
  color: blue;
  font-size: small;
}

.kGrey {
  color: #969696;
}

.suggestf {
  text-decoration: none;
  color: blue;
  text-align: center;
}

.suggestfn {
  color: #969696;
  font-size: x-small;
} 
.commentSection::-webkit-scrollbar {
  display: none;
}

textarea {
  width: 275px;
  height: 150px;
  
}

/* .card-footer {
  background-color: white;
} */

.card-header {
  background-color: white;
}

/* post */
 /* .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2);
  border: 1px solid;
} */
/* 
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0,2);
}

.container {
  padding: 2px 16px;
}  */

